{
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "node": true,
        "es6": true,
        "jest": true
    },
    "parser": "babel-eslint",
    "globals": {},
    "rules": {
        "require-jsdoc": 1,
        "valid-jsdoc": 1,
        "no-console": "off",
        "indent": [
            2,
            4
        ],
        "semi": [
            2,
            "never"
        ],
        "object-curly-spacing": [
            2,
            "always"
        ]
    }
}