{
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "node": true,
        "es6": true,
        "jest": true
    },
    "parser": "@babel/eslint-parser",
    "globals": {},
    "rules": {
        "require-jsdoc": "warn",
        "valid-jsdoc": "warn",
        "no-console": "off",
        "indent": [
            "error",
            4
        ],
        "semi": [
            "error",
            "never"
        ],
        "object-curly-spacing": [
            "error",
            "always"
        ]
    }
}
